.advantages {
  position: relative;
  padding-top: 110px;
  padding-bottom: 120px;
  --bg-url: url("../../img/advantages-bg-l@1x.jpg");
  background:
    linear-gradient(
      var(--color-gradient-advantages),
      var(--color-gradient-advantages)
      ),
    var(--bg-url) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: var(--color-bg-advantages);

  @media (--x2) {
    --bg-url: url("../../img/advantages-bg-l@2x.jpg");
  }

  @media (--middle-vp) {
    padding-top: 90px;
    padding-bottom: 100px;
    --bg-url: url("../../img/advantages-bg-m@1x.jpg");

    @media (--x2) {
      --bg-url: url("../../img/advantages-bg-m@2x.jpg");
    }
  }

  @media (--small-vp) {
    padding-top: 57px;
    padding-bottom: 64px;
    --bg-url: url("../../img/advantages-bg-s@1x.jpg");

    @media (--x2) {
      --bg-url: url("../../img/advantages-bg-s@2x.jpg");
    }
  }
}

.advantages h2 {
  text-align: center;
  margin-bottom: 49px;

  @media (--small-vp) {
    margin-bottom: 30px;
  }
}

.advantages h3 {
  padding-top: 9px;
  margin-bottom: 10px;

  @media (--middle-vp) {
    padding-top: 7px;
  }

  @media (--small-vp) {
    padding-top: 7px;
    margin-bottom: 9px;
    width: 75%;
  }
}

.advantages p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 5px;

  @media (--wide-vp) {
    margin-right: 10px;
  }

  @media (--small-vp) {
    margin-right: 7px;
  }
}

.advantages__list {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 0;

  @media (--not-wide-vp) {
    gap: 30px;
  }

  @media (--small-vp) {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  background-color: var(--color-base-light);
  padding: 72px 30px 20px;
  background-repeat: no-repeat;
  background-size: 42px 42px;
  background-position: left 30px top 30px;

  @media (--not-wide-vp) {
    padding: 62px 15px 15px 20px;
    background-size: 37px 37px;
    background-position: left 20px top 25px;

    &--boat br {
      display: none;
    }
  }

  @media (--middle-vp) {
    &--included br {
      display: none;
    }
  }

  &--ship {
    background-image: url("../../icons/sprite.svg#advantages-ship");
  }

  &--included {
    background-image: url("../../icons/sprite.svg#advantages-included");
  }

  &--boat {
    background-image: url("../../icons/sprite.svg#advantages-boat");
  }
}
