.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts em {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  font-style: normal;
  margin-bottom: 22px;

  @media (--not-wide-vp) {
    margin-bottom: 22px;
  }
}

.contacts p,
.contacts a {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  padding-left: 28px;
}

.contacts p {
  margin-top: 11px;
  margin-bottom: 20px;
  background: url("../../icons/sprite.svg#contacts-address") no-repeat;
  background-size: 22px 22px;
  background-position: left top;


  @media (--not-wide-vp) {
    margin-top: 5px;
    background-position: left top 3px;
  }

  @media (--middle-vp) {
    width: 80%;
  }
}

.contacts a {
  text-decoration: none;
  color: var(--color-base-dark);
  width: fit-content;

  &:focus {
    outline: 2px solid var(--color-base-dark);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-dark);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    mask-repeat: no-repeat;
    mask-position: center;
    background: currentColor;
    width: 22px;
    height: 22px;
    left: 0;
    mask-image: url("../../icons/sprite.svg#contacts-phone");
  }
}
