.contacts em {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  font-style: normal;
  margin-bottom: 45px;

  @media (--wide-vp) {
    width: 90%;
  }

  @media (--not-wide-vp) {
    margin-bottom: 40px;
  }
}

.contacts p,
.contacts a {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  padding-left: 28px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    mask-repeat: no-repeat;
    mask-position: center;
    background: currentColor;
    width: 22px;
    height: 22px;
    left: 0;
  }
}

.contacts p {
  margin-bottom: 25px;

  @media (--not-wide-vp) {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  &::before {
    mask-image: url("../../icons/sprite.svg#contacts-address");
  }
}

.contacts a {
  text-decoration: none;
  color: var(--color-base-dark);
  width: fit-content;

  &:focus {
    outline: 2px solid var(--color-base-dark);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-dark);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  &::before {
    mask-image: url("../../icons/sprite.svg#contacts-phone");
  }
}
