.cruises__list {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}

.cruises__item {
  color: var(--color-base-light);
  background-color: var(--color-base-dark);
}

.cruises__specification-set dt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

.cruises__specification-set dd {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}
