.cruises {
  padding-top: 120px;
  padding-bottom: 120px;
}

.cruises h2 {
  text-align: center;
}

.cruises__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;

  @media (--small-vp) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.cruises__item {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  color: var(--color-base-light);
  background-color: var(--color-base-dark);
  min-height: 386px;
  width: 100%;
}

.cruises__title,
.cruises__card,
.cruises__image-set {
  box-sizing: border-box;
  grid-row: 1 / -1;
  grid-column: 1 /-1;
}

.cruises__title {
  padding: 35px 25px 0;
  margin: 0;
}

.cruises__card {
  display: flex;
  flex-direction: column;
  margin-top: 73px;
  padding: 0 25px 35px;
}

.cruises__specification {
  margin: 0;
}

.cruises__specification-set {
  margin-bottom: 20px;
}

.cruises__specification-set dt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.cruises__specification-set dd {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin-left: 0;
}

.cruises__image-set img {
  width: 100%;
  height: 386px;
  margin-bottom: 0;
}

.cruises__button {
  display: block;
  width: 100%;
  height: 40px;
}
