.cruises {
  padding-top: 120px;
  padding-bottom: 120px;
}

.cruises h2 {
  text-align: center;
}

.cruises__title h3 {
  margin: 0;
}

.cruises__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;

  @media (--small-vp) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.cruises__item {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 386px;
  color: var(--color-base-light);
  background-color: var(--color-base-dark);
  width: 100%;
}

.cruises__title,
.cruises__card,
.cruises__image-set {
  box-sizing: border-box;
  grid-row: 1 / -1;
  grid-column: 1 /-1;
}

.cruises__title {
  z-index: 2;
  margin-top: 343px;
  margin-left: 30px;
}

.cruises__card {
  display: flex;
  flex-direction: column;
  margin-top: 73px;
  padding: 0 25px 35px;
  --button-visible: -1;
}

.cruises__specification {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 30px;
  height: 100%;
  overflow-y: auto;
}

.cruises__specification-set dt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

.cruises__specification-set dd {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin-left: 0;
}

.cruises__image-set img {
  width: 100%;
  height: 386px;
  margin-bottom: 0;
}

.cruises__button {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  min-height: 40px;
  place-items: center;
  margin-top: auto;
  z-index: var(--button-visible);

  &:focus {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.cruises__item:focus-within .cruises__image-set,
.cruises__item:hover .cruises__image-set {
  display: none;
}

.cruises__item:focus-within .cruises__button,
.cruises__item:hover .cruises__button {
  --button-visible: 2;
}

.cruises__item:focus-within .cruises__title,
.cruises__item:hover .cruises__title {
  padding: 35px 25px 0;
  margin: 0;
}
