.logo {
  @media (--small-vp) {
    min-height: 42px;
  }
}

.logo__img {
  display: block;
  box-sizing: border-box;
  width: 70px;
  height: auto;
  fill: var(--color-base-light);

  @media (--middle-vp) {
    width: 38px;
  }

  @media (--small-vp) {
    width: 42px;
  }
}

.logo__link {
  display: block;
  box-sizing: border-box;

  &:focus {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}
