.logo-link {
  display: block;
  box-sizing: border-box;

  @media (--small-vp) {
    min-height: 42px;
  }
}

.logo-link svg {
  display: block;
  box-sizing: border-box;
  width: 70px;
  height: auto;
  fill: var(--color-base-light);

  @media (--middle-vp) {
    width: 38px;
  }

  @media (--small-vp) {
    width: 42px;
  }
}
