.main-nav {
  font-family: var(--accent-font);
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  @media (--small-vp) {
    &--closed .main-nav__list {
      display: none;
    }

    &--opened .main-nav__list {
      position: absolute;
      z-index: 2;
      width: 100%;
    }

    &--nojs .main-nav__list {
      display: block;
    }
  }

  &--within_index {
    --link-color: var(--white);

    @media (--wide-vp) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--green_background);
      }
    }
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

  @media (--not-small-vp) {
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-left: 16px;
    margin-right: 3px;
  }

  @media (--wide-vp) {
    font-size: 20px;
    line-height: 30px;
    justify-content: flex-end;
    margin-right: 4px;
  }
}

.main-nav__item {
  @media (--small-vp) {
    position: relative;
    background-color: var(--white);
    box-shadow: 20px 0 0 0 var(--white), -20px 0 0 0 var(--white);
    padding: 10px;

    &:first-child {
      padding-bottom: 11px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      left: -20px;
      bottom: 0;
      background-color: var(--color-grey_border);
      box-shadow: 40px 0 0 0 var(--color-grey_border);
    }

    &:first-child::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      left: -20px;
      top: 0;
      background-color: var(--color-grey_border);
      box-shadow: 40px 0 0 0 var(--color-grey_border);
    }
  }
}

.main-nav__link {
  display: block;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 15px 14px;

  @media (--not-small-vp) {
    padding: 27px 15px 24px;

    &[aria-current] {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 11px;
      text-decoration-color: var(--green);
    }
  }

  @media (--wide-vp) {
    color: var(--link-color, var(--black));
    padding: 27px 15px 24px;
    margin-left: 4px;

    &[aria-current] {
      text-decoration-color: var(--link-color, var(--green));
    }
  }

  &:focus {
    outline: 2px solid var(--black);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--black);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 12px;
  right: 0;
  width: 34px;
  height: 38px;
  background-color: var(--white);
  cursor: pointer;
  border: none;
  margin-right: -5px;

  @media (--small-vp) {
    display: block;
  }


  &:focus {
    outline: 2px solid var(--black);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--black);
  }

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 24px;
  height: 1.5px;
  background-color: var(--black);
  box-shadow: 0 8px 0 0 var(--black), 0 16px 0 0 var(--black);
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 5px;
    width: 25px;
    height: 1.5px;
    background-color: var(--black);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
