.main-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.main-nav__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  &--footer li {
    padding-top: 5px;
    margin-bottom: 5px;
  }

  @media (--not-wide-vp) {
    &--footer {
      font-size: 12px;
      line-height: 15px;
    }
  }

  @media (--not-small-vp) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (--small-vp) {
    &--footer li:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.main-nav__item {
  &:not(:last-child) {
    margin-right: 33px;

    @media (--middle-vp) {
      margin-right: 24px;
    }
  }
}

.main-nav__link {
  display: block;
  color: var(--color-base-light);
  text-decoration: none;
  width: fit-content;
  user-select: none;

  &:focus {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}
