.main-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  @media (--not-wide-vp) {
    &--footer {
      font-size: 12px;
      line-height: 15px;
    }
  }

  @media (--middle-vp) {
    &--header {
      font-size: 14px;
      line-height: 17px;
    }
  }

  @media (--small-vp) {
    &--header {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.main-nav__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  @media (--not-small-vp) {
    flex-wrap: wrap;
  }

  @media (--small-vp) {
    flex-direction: column;

    &--header {
      position: absolute;
      background-color: var(--color-base-light);
      left: 20px;
      right: 15px;
      top: 0;
      padding-top: 52px;
      z-index: 2;
      box-shadow: 15px 0 0 0 var(--color-base-light);
    }
  }
}

.main-nav__item {
  &--footer {
    padding-top: 5px;
    margin-bottom: 5px;
  }

  &:not(:last-child) {
    margin-right: 33px;

    @media (--middle-vp) {
      margin-right: 23px;
    }
  }

  @media (--not-small-vp) {
    &--header {
      padding-top: 5px;
      margin-bottom: 5px;
    }
  }

  @media (--small-vp) {
    &--header {
      margin-right: 30px;
      margin-left: 15px;
      width: 100%;
    }

    &--header:not(:last-child) {
      margin-bottom: 10px;
    }

    &--footer:not(:last-child) {
      margin-bottom: 23px;
    }
  }
}

.main-nav__link {
  display: block;
  color: var(--color-base-light);
  text-decoration: none;
  width: fit-content;

  &:focus {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (--small-vp) {
    &--header {
      color: var(--color-base-dark);
      padding: 10px;

      &:focus {
        outline: 2px solid var(--color-base-dark);
        outline-offset: 2px;
      }

      &:focus:not(:focus-visible) {
        outline: none;
        outline-offset: revert;
      }

      &:focus-visible {
        outline: 2px solid var(--color-base-dark);
        outline-offset: 2px;
      }

      &:hover {
        opacity: 80%;
      }

      &:active {
        opacity: 60%;
      }
    }
  }
}
