.nav-menu {
  @media (--small-vp) {
    &--closed .main-nav__list {
      display: none;
    }

    &--opened .main-nav__list {
      z-index: 2;
      min-height: 560px;
    }

    &--nojs .main-nav__list {
      display: block;
    }
  }
}

.nav-menu__toggle {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  text-align: center;
  z-index: 3;

  &:focus {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (--small-vp) {
    display: block;
  }
}

.nav-menu--opened .nav-menu__toggle {
  margin-right: -7px;

  &:focus {
    outline: 2px solid var(--color-base-dark);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-dark);
  }
}

.nav-menu--closed .nav-menu__toggle::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  margin: auto;
  display: block;
  mask-repeat: no-repeat;
  mask-position: center;
  background: currentColor;
  color: var(--color-base-light);
  width: 24px;
  height: 24px;
  mask-image: url("../../icons/sprite.svg#toggle-open");
}

.nav-menu--opened .nav-menu__toggle::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 5px;
  display: block;
  mask-repeat: no-repeat;
  mask-position: center;
  background: currentColor;
  width: 24px;
  height: 24px;
  mask-image: url("../../icons/sprite.svg#toggle-closed");
  margin-right: 7px;
}

.nav-menu--nojs .nav-menu__toggle {
  display: none;
}
