.page {
  height: 100%;
  font-family: var(--regular-font);
  color: var(--color-base-dark);
  scroll-behavior: smooth;
}

.page__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: var(--color-base-light);

  &--noscroll {
    position: fixed;
    height: 100vh;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.page__visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__wrapper-center {
  @media (--wide-vp) {
    width: 1160px;
    margin: 0 auto;
  }

  @media (--middle-vp) {
    margin: 0 45px;
  }

  @media (--small-vp) {
    margin: 0 15px;
  }
}
