.page-header {
  position: relative;
  padding: 20px 0;

  @media (--small-vp) {
    padding: 10px 0;
  }
}

.page-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (--small-vp) {
    flex-direction: column;
    align-items: flex-start;
  }
}
