.page-header {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (--not-small-vp) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px 0;
  }

  @media (--wide-vp) {
    grid-template-columns: 1fr 1fr;
    padding-top: 42px;
    padding-bottom: 13px;
  }
}

.page-header__wrapper-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 12px;

  @media (--small-vp) {
    padding-right: 35px;
  }
}

.page-header__logo-link {
  text-decoration: none;

  &:focus {
    outline: 2px solid var(--black);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--black);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.page-header__logo-link--title {
  margin: 0 auto;
  padding-top: 8px;

  @media (--not-small-vp) {
    padding-right: 0;
    padding-top: 5px;
    margin-left: 11px;
  }

  @media (--wide-vp) {
    padding-top: 7px;
    margin-left: 12px;
  }
}

.page-header__logo-image {
  width: 34px;
  height: 39px;

  @media (--not-small-vp) {
    width: 61px;
    height: 52px;
  }

  @media (--wide-vp) {
    width: 71px;
    height: 60px;
  }
}

.page-header__logo-title {
  width: 102px;
  height: 19px;

  @media (--not-small-vp) {
    --fill: var(--grey-dark);
  }

  @media (--wide-vp) {
    width: 118px;
    height: 22px;
  }
}

.page-header__main-nav {
  @media (--not-small-vp) {
    margin-right: -17.5px;
  }
}
