.presentation p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  @media (--wide-vp) {
    margin-right: 30px;
  }
}

.presentation {
  padding-top: 120px;
  padding-bottom: 120px;

  @media (--middle-vp) {
    padding-top: 92px;
    padding-bottom: 77px;
  }

  @media (--small-vp) {
    padding-top: 57px;
    padding-bottom: 65px;
  }
}

.presentation__wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;


  @media (--middle-vp) {
    column-gap: 30px;
  }

  @media (--small-vp) {
    grid-template-columns: 1fr;
    row-gap: 19px;
  }
}

.presentation__wrapper-content {
  display: flex;
  flex-direction: column;

  @media (--wide-vp) {
    padding-top: 43px;
  }
}

.presentation__wrapper-content h2 {
  margin-top: 15px;
  margin-bottom: 25px;
  line-height: 1.4;


  @media (--middle-vp) {
    margin-top: 0;
    margin-bottom: 15px;
    width: 90%;
  }

  @media (--small-vp) {
    margin-top: 0;
    margin-bottom: 15px;
    width: 90%;
  }
}

.presentation__wrapper-content p {
  margin-top: 0;
  margin-bottom: 15px;
}

.presentation__image-set {
  display: block;
  width: 100%;
  max-width: 560px;
  height: 301px;
  background-color: var(--color-bg-image);

  @media (--middle-vp) {
    width: 324px;
    height: 264px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (--small-vp) {
    width: 290px;
    height: 186px;
    place-self: center;
  }
}
