.reservation h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
}

.reservation p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.reservation__form i {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  font-style: normal;
}
