.reservation h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;

  @media (--middle-vp) {
    font-size: 34px;
  }

  @media (--small-vp) {
    font-size: 24px;
    line-height: 1.3;
  }
}

.reservation p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  @media (--small-vp) {
    font-size: 16px;
    line-height: 1.4;
  }
}

.reservation__form i {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  font-style: normal;
  color: var(--color-base-light);
  margin-bottom: 35px;

  @media (--small-vp) {
    line-height: 1.4;
  }
}

.reservation {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  --bg-url: url("../../img/reservation-l@1x.jpg");

  @media (--middle-vp) {
    padding-top: 100px;
    padding-bottom: 97px;
  }

  @media (--small-vp) {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  &::before {
    position: absolute;
    content: "";
    background: var(--bg-url);
    width: 100%;
    height: 555px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-bg-reservation);
    z-index: -1;
    top: 0;

    @media (--x2) {
      --bg-url: url("../../img/reservation-l@2x.jpg");
    }

    @media (--middle-vp) {
      height: 805px;
    }

    @media (--small-vp) {
      height: 760px;
    }
  }
}

.reservation__wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;

  @media (--not-wide-vp) {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  @media (--small-vp) {
    gap: 40px;
  }
}

.reservation__wrapper-text {
  place-self: center;

  @media (--not-wide-vp) {
    text-align: center;
  }
}

.reservation__wrapper-text p {
  width: 360px;

  @media (--not-wide-vp) {
    width: 55%;
    margin: auto;
  }
}

.reservation__form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--color-base-dark);
  place-self: center;
  width: 403px;
  padding: 50px;

  @media (--small-vp) {
    padding: 40px 30px;
    width: 100%;
    max-width: 403px;
    text-align: center;
  }
}
