.screen h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  margin-top: 0;
  margin-bottom: 11px;

  @media (--middle-vp) {
    font-size: 50px;
    line-height: 61px;
  }

  @media (--small-vp) {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 25px;
  }
}

.screen i {
  display: block;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 13px;

  @media (--middle-vp) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (--small-vp) {
    font-size: 16px;
    line-height: 1.4;
    width: 80%;
  }
}

.screen {
  position: relative;
  color: var(--color-base-light);
}

.screen__wrapper-context {
  display: flex;
  flex-direction: column;


  @media (--wide-vp) {
    padding: 161px 95px 0;
  }

  @media (--middle-vp) {
    padding-top: 202px;
  }

  @media (--small-vp) {
    padding-top: 123px;
  }
}
