.social {
  display: flex;
  justify-content: end;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;

  @media (--not-small-vp) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.social__item {
  padding-top: 5px;
  margin-bottom: 5px;

  @media (--wide-vp) {
    margin-left: 27px;
  }

  @media (--middle-vp) {
    margin-left: 22px;
  }

  @media (--small-vp) {
    margin-right: 22px;
  }
}

.social__link {
  display: flex;
  color: var(--color-base-light);
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  @media (--not-wide-vp) {
    width: 16px;
    height: 16px;
  }

  &:focus {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  &::before {
    content: "";
    display: block;
    mask-repeat: no-repeat;
    mask-position: center;
    background: currentColor;
    width: 20px;
    height: 20px;

    @media (--not-wide-vp) {
      width: 16px;
      height: 16px;
    }
  }

  &--facebook::before {
    mask-image: url("../../icons/sprite.svg#social-facebook");
  }

  &--instagram::before {
    mask-image: url("../../icons/sprite.svg#social-instagram");
  }

  &--twitter::before {
    mask-image: url("../../icons/sprite.svg#social-twitter");
  }
}
