.social__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;

  @media (--wide-vp) {
    min-width: 120px;
  }

  @media (--middle-vp) {
    min-width: 100px;
  }
}

.social__item {
  padding-top: 5px;
  margin-bottom: 5px;

  &:not(:last-child) {
    margin-right: 27px;

    @media (--not-wide-vp) {
      margin-right: 23px;
    }
  }
}

.social__link {
  display: block;
  color: var(--color-base-light);

  &:focus {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--color-base-light);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  &::before {
    content: "";
    display: block;
    mask-repeat: no-repeat;
    mask-position: center;
    background: currentColor;
    width: 20px;
    height: 20px;

    @media (--not-wide-vp) {
      width: 16px;
      height: 16px;
    }
  }

  &--facebook::before {
    mask-image: url("../../icons/sprite.svg#social-facebook");
    margin-left: -8px;

    @media (--small-vp) {
      margin-left: -7px;
    }
  }

  &--instagram::before {
    mask-image: url("../../icons/sprite.svg#social-instagram");
  }

  &--twitter::before {
    mask-image: url("../../icons/sprite.svg#social-twitter");
  }
}
