:root {
  --white: #ffffff;
  --white-opacity: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --black-light: #111111;
  --green: #68b738;
  --green_hover: #5eaa2f;
  --green_background: rgba(104, 183, 56, 0.85);
  --grey-dark-special: #222222;
  --grey-dark: #444444;
  --grey-special: #666666;
  --grey-basic_background: #f2f2f2;
  --grey_background: #eaeaea;
  --grey_hover: #ebebeb;
  --grey_active: rgba(68, 68, 68, 0.3);
  --color-cat_background: #444348;
  --color-cat-catalog_background: #1a1a1a;
  --transparent: rgba(0, 0, 0, 0);
  --color-grey_border: #e6e6e6;
  --color-form_border: #e7e7e7;
  --color-catalog_border: #ebebeb;
  --color-catalog-more: #d3d3d3;
  --color-grey-base_border: #d9d9d9;
  --color-grey-special_border: #cdcdcd;
  --color-decoration_underline: rgba(0, 0, 0, 0.24);
  --color-range_shadow: rgba(0, 0, 0, 0.16);
  --color-range_shadow-hover: rgba(0, 0, 0, 0.19);
  --color-range_shadow-active: rgba(0, 0, 0, 0.2);
  --color-hover_border: #bababa;
  --color-error: #ff8282;
}
