{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{%- import "./templates/macros.twig" as macros -%}

<!DOCTYPE html>
<html class="page" lang="ru">
  {% include "./templates/head.twig" %}

  <body class="page__body">
    {% include "./templates/header.twig" %}

    <main class="page-main">
      <div class="page-main__wrapper">
        <div class="page__wrapper-center">
          <h1 class="page-main__title">Круизы в Антарктику</h1>
          <i class="page-main__slogan">Волшебный мир айсбергов и пингвинов</i>
        </div>
      </div>

      <section class="page-main__presentation presentation">
        <div class="presentation__wrapper page__wrapper-center">
          <h2 class="presentation__title">Путешествие на край Земли</h2>
          <p class="presentation__description">Это волшебное путешествие поможет вам познакомиться поближе с удивительным миром Антарктики. Наш круизный лайнер отвезет вас на край Земли, где вы сможете увидеть: ледяные айсберги, несколько видов пингвинов, китов, морских котиков и многое другое.</p>
          <div class="presentation__image-set">
            {{ macros.picture("presentation__image", "./img/", "tour", "jpg", "Несколько милых пингвинов на фоне ослепительного антарктического снега.", "560", "301") }}
          </div>
      </section>

      <section class="page-main__advantages advantages">
        <div class="page__wrapper-center">
          <h2 class="advantages__title">Преимущества</h2>
          <ul class="advantages__list">
            <li class="advantages__item advantages__item--ship">
              <h3 class="advantages__item-title">Небольшой круизный лайнер</h3>
              <p class="advantages__description">Круизный лайнер, рассчитанный всего лишь на 300 гостей, поможет избежать шума и очередей и даст возможность насладиться видами и природой.</p>
            </li>
            <li class="advantages__item advantages__item--included">
              <h3 class="advantages__item-title">Система все включено</h3>
              <p class="advantages__description">Все наши круизы работают по системе “Все Включено”. Великолепные блюда и безлимитный бар доступны для вас 24 часа.</p>
            </li>
            <li class="advantages__item advantages__item--boat">
              <h3 class="advantages__item-title">Экскурсионные туры на Zodiac</h3>
              <p class="advantages__description">Экскурсионные туры к берегам Антарктиды совершаются на оборудованных лодках типа Zodiac в сопровождении опытных экскурсоводов.</p>
            </li>
          </ul>
        </div>
      </section>

      <section class="page-main__cruises cruises">
        <div class="cruises__wrapper page__wrapper-center">
          <h2 class="cruises__title">Ближайшие круизы</h2>
          <ul class="cruises__list">
            <li class="cruises__item cruises__item--1">
              <h3 class="cruises__item-title">Круиз “Астория”</h3>
              <div class="cruises__image-set">
                {{ macros.picture("cruises__image", "./img/", "cruise-astoria", "jpg", "Вид антарктической природы снятой в круизе Астория.", "260", "386") }}
              </div>
              <dl class="cruises__specification">
                <div class="cruises__specification-set">
                  <dt class="cruises__term">Маршрут</dt>
                  <dd class="cruises__definition">Аргентина - Фолклендские острова - Антарктида</dd>
                </div>
                <div class="cruises__specification-set">
                  <dt class="cruises__term">Порт(ы) отправления</dt>
                  <dd class="cruises__definition">Ушуайя</dd>
                </div>
                <div class="cruises__specification-set">
                  <dt class="cruises__term">Продолжительность</dt>
                  <dd class="cruises__definition">11 дней</dd>
                </div>
                <div class="cruises__specification-set">
                  <dt class="cruises__term">Цена</dt>
                  <dd class="cruises__definition">от 11500 $</dd>
                </div>
              </dl>
              <a class="button cruises__button" href="#">Забронировать</a>
            </li>
          </ul>
        </div>
      </section>

      <section class="page-main__reservation reservation">
        <div class="page__wrapper-center">
          <h2 class="reservation__title">Раннее бронирование</h2>
          <p class="presentation__description">Забронируйте тур за 3-6 месяцев до даты выезда и сэкономьте до 50%</p>
          <div class="reservation__form">
            <i class="reservation__form-info">Оставьте заявку и мы свяжемся с вами в ближайшее время</i>
            <form class="form" action="https://echo.htmlacademy.ru/" method="get">
              <ul class="form__list">
                <li class="form__item">
                  <label class="form__label">
                    <span class="page__visual-hidden">Имя:*</span>
                    <input class="form__input" placeholder="Имя" type="text" name="name" required>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__label">
                    <span class="page__visual-hidden">Телефон:*</span>
                    <input class="form__input" type="tel" placeholder="Телефон" name="phone" required>
                  </label>
                </li>
                <li class="form__item">
                  <label class="form__label">
                    <span class="page__visual-hidden">E-mail:*</span>
                    <input class="form__input" type="email" placeholder="Email" name="email" required>
                  </label>
                </li>
              </ul>

              <ul class="form__checkbox">
                <li class="form__checkbox-item">
                  <label class="form__checkbox-label">
                    <input class="form__checkbox-input" type="checkbox" name="personal-data" value="agreement" checked>
                    <span class="form__checkbox-control">Я согласен на обработку моих персональных данных</span>
                  </label>
                </li>
              </ul>

              <div class="form__dispatch">
                <button class="button form__dispatch-button" type="submit">Оставить заявку</button>
              </div>

            </form>
          </div>

        </div>
      </section>
    </main>

    {% include "./templates/footer.twig" %}
  </body>

</html>
